*{
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/*----- Navigation Bar -----*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: #348c00;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fcbba0;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.sub-menu-1 {
    display: none;
}
.nav-links ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #348c00;
    margin-top: 5px;
    margin-left: -15px;
    z-index: 10;
}
.nav-links ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.nav-links ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.nav-links ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.nav-links ul li:hover .sub-menu-1 ul li:hover {
    color: #fcbba0;
}

/*----- Title Section -----*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.title-col-left {
    column-gap: 40px;
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    padding-right: 10px;
    padding-top: 75px;
}
.title-col-right {
    column-gap: 40px;
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    justify-content: space-between;
    padding-right: 25px;
}
.hero-btn-header {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #348c00;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
}
.hero-btn-header:hover {
    border: 1px solid #348c00;
    background: #fff;
    transition: 1s;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 40px;
}
.hero-btn:hover {
    border: 1px solid #348c00;
    background: #348c00;
    transition: 1s;
}
.hero-btn-join {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #348c00;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
}
.hero-btn-join:hover {
    border: 1px solid #348c00;
    background: #fff;
    transition: 1s;
}
.hero-btn-2 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #348c00;
    position: relative;
    left: 50px;
    bottom: -10px;
    cursor: pointer;
    border-radius: 25px;
}
.hero-btn-2:hover {
    border: 1px solid #348c00;
    background: #fff;
    transition: 1s;
}
.static-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    background: #348c00;
    border-radius: 25px;
}
.static-btn:hover {
    border: 1px solid #348c00;
    background: #fff;
    transition: 1s;
}
nav .fa {
    display: none;
}
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links * {
        background: #eeeeee;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #eeeeee;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #348c00;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .nav-links ul li a {
        color: #348c00;
        text-decoration: none;
        font-size: 13px;
    }
}

/*----- Join Us -----*/
.join {
    margin: -45px auto;
    margin-left: -15px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
.join h1 {
    color: #000000;
    font-size: 30px;
    padding-left: 100px;
}
.join-col-left {
    column-gap: 40px;
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: center;
    padding-right: 80px;
}
.join-col-right {
    column-gap: 40px;
    flex-basis: 50%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    justify-content: space-between;
}
.join-col-right img {
    object-fit: contain;
    width: 90%;
    height: 75%;
    display: block;
    padding-left: 32px;
}
@media(max-width: 700px) {
    .join h1 {
        font-size: 24px;
        color: #000000;
        padding: 0px;
        transform: translate(17%, 0px);
    }
}
@media(max-width: 600px) {
    .join h1 {
        font-size: 24px;
        color: #000000;
        padding: 0px;
        transform: translate(11%, 0px);
    }
}
@media(max-width: 500px) {
    .join h1 {
        font-size: 24px;
        color: #000000;
        padding: 0px;
        transform: translate(17%, 0px);
    }
}
@media(max-width: 350px) {
    .join h1 {
        font-size: 24px;
        color: #000000;
        padding: 0px;
        transform: translate(25%, 0px);
    }
}

/*----- Medicaid Enrollment -----*/
.medicaid {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.medicaid-col-left {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.medicaid-col-right {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.medicaid-col-left img {
    object-fit: contain;
    width: 92%;
    height: 75%;
    display: block;
}
.medicaid-col-right img {
    object-fit: scale-down;
    width: 100%;
    height: 75%;
    display: block;
    padding-top: 5px;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.medicaid-col-left:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.medicaid-col-right:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*----- About -----*/
.about {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
.about p {
    background: #fcbba0;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about-col {
    column-gap: 40px;
    flex-basis: 31%;
    background: #fcbba0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    justify-content: space-between;
    transition: 0.5s;
}
.about h3 {
    background: #fcbba0;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/*----- Offerings -----*/
.offerings {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.offerings-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.offerings-col img {
    width: 100%;
    height: 100%;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: #348c00;
}
.layer h3 {
    background: transparent;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}
.layer p {
    background: transparent;
    width: 100%;
    font-weight: 200;
    color: #fff;
    font-size: 13px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p {
    bottom: 20%;
    opacity: 1;
}

/*----- Blog -----*/
.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.blog h1 {
    padding-top: 100px;
    text-align: center:
}
.blog h2 {
    text-align: center;
    font-weight: 300;
}
.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span {
    color: #f58907;
    font-size: x-large;
    padding-top: 50px;
}
.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box {
    border: 1px solid #f58907;
    flex-basis: 28%;
    margin: 20px;
    height: 830px;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: #f58907;
    font-size: 0.9rem;
    text-align: center;
}
.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #348c00;
}
.blog-text .blog-title::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fcbba0;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.blog-text .blog-title:hover::after {
    width: 100%;
}
.blog-text p {
    color: #000000;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a {
    color: #348c00;
    text-align: center;
    text-decoration: none;
}
.blog-text a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fcbba0;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.blog-text a:hover::after {
    width: 100%;
}
@media(max-width: 1250px) {
    .blog-box {
        flex-basis: 62%;
        height: auto;
        width: 300px;
    }
}
@media(max-width: 1100px) {
    .blog-box {
        flex-basis: 62%;
        height: auto;
        width: 70%;
    }
}
@media(max-width: 550px) {
    .blog-box {
        flex-basis: 62%;
        height: auto;
        margin: 20px 10px;
        width: 100%;
    }
    .blog {
        padding: 20px;
    }
}

/*----- Testimonials -----*/
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonial-col {
    column-gap: 40px;
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fcbba0;
    padding: 2%;
    cursor: pointer;
}
.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p {
    background: #fcbba0;
    padding: 0;
}
.testimonial-col h3 {
    background: #fcbba0;
    margin-top: 15px;
    text-align: left;
}
.testimonial-col .fa {
    background: #fcbba0;
    color: #f58907;
}
@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0;
        margin-right: 15px;
    }
}

/*----- Footer -----*/
.footer {
    text-align: center;
}
.footer a {
    color: #348c00;
    text-decoration: none;
}
.footer p {
    font-size: 10px;
}
.icons .fa {
    color: #348c00;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*----- About Page -----*/
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/aboutpic.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subheader h1 {
    margin-top: 100px;
}
.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col img {
    width: 100%;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}
.green-btn {
    border: 1px solid #348c00;
    background: transparent;
    color: #348c00;
    border-radius: 25px;
}
.green-btn:hover {
    color: #fff;
}
.green-btn-2 {
    border: 1px solid #348c00;
    background: #348c00;
    color: #eeeeee;
    border-radius: 25px;
}
.green-btn-2:hover {
    color: #348c00;
}

/*----- Pricing Page -----*/
/*.questionnaire {
    box-sizing: border-box;
}

.questionnaire html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.questionnaire body {
    background-color: #eeeeee;
}

.questionnaire #wrapper {
    width: 90%;
    display: flex;
    align-items: center;
}

.questionnaire .form-container {
    width: 100%;
    max-width: 40rem;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5px #eeeeee;
    border-radius: 1rem;
    z-index: 1;
}

.questionnaire .form-heading {
    color: #000000;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

.questionnaire form {
    transform: translateX(10rem);
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5px #eeeeee;
}

.questionnaire .input-group {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.questionnaire .input-group input {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #000000;
}

.questionnaire .input-group > i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #000000;
}

.questionnaire .input-group .bar {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000000;
    width: 100%;
    height: 1px;
}

.questionnaire .input-group .bar::before {
    content: '';
    position: absolute;
    background-color: #000000;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .bar::before {
    width: 100%;
}

.questionnaire .input-group button {
    margin: 3rem auto;
    padding: 1rem 5rem;
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.switch-login {
    text-align: center;
}

.questionnaire .switch-login a {
    text-decoration: none;
    color: #348c00;
    font-size: 1.5rem;
}

.questionnaire .switch-login a span {
    color: #000000;
}

.questionnaire .switch-login a span:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #000000;
}

@media screen and (max-width: 700px) {
    .questionnaire .form-container::before {
        height: 10rem;
    }
    
    .questionnaire .form-heading {
        left: 50%;
        transform: translateX(-50%);
    }
    
    .questionnaire form {
        border-radius: initial;
        transform: initial;
        box-shadow: none;
    }
} */

.columns {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 8px;
}
.price {
    list-style-type: none;
    border: 1px solid #fcbba0;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price:hover {
    box-shadow: 0 8px 12px 0 #fcbba0
}
.price .header-col {
    background-color: #f58907;
    color: black;
    font-size: 25px;
}
.price li {
    border-bottom: 1px solid #fcbba0;
    padding: 20px;
    text-align: center;
}
.price .grey {
    background-color: #fcbba0;
    font-size: 20px;
}
.button {
    background-color: #348c00;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 12px;
}
.button:hover {
    background-color: #eee;
    color: #348c00;
    border: 2px solid #348c00;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

/*----- Blog Content -----*/
.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left {
    flex-basis: 65%;
}
.blog-left img {
    width: 100%;
}
.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
}
.blog-left h3 {
    color: #222;
    font-weight: 500;
    margin: 30px 0;
    text-align: center;
}
.blog-left h4 {
    color: #222;
    font-weight: 400;
    margin: 30px 0;
    text-align: center;
}
.blog-left p {
    color: #999;
    padding: 0;
}
.blog-right {
    flex-basis: 32%;  
}
.blog-right h3 {
    background: #fcbba0;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3 {
    text-align: left;
}
.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button {
    margin: 10px 0;
}
@media(max-width: 700px) {
    .sub-header h1 {
        font-size: 24px;
    }
}

/*----- Contact Page -----*/
.contact-us {
    width: 80%;
    margin: auto;
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa {
    font-size: 28px;
    color: #fcbba0;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p {
    padding: 0;
}
.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
